.form {
  font-size: 1em;
  color: var(--onbackground-color);
  @apply flex justify-center items-center w-full flex-col;
  .legend {
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: solid 1px var(--onbackground-variant-color);
    width: 100%;
    @apply m-1 my-3;
  }
  .label {
    grid-area: label;
    font-size: 0.8rem;
    font-weight: bold;
    max-width: 200px;
    > .required {
      color: $red-color;
    }
    > .description {
      font-weight: normal;
      font-size: 0.7rem;
      color: var(--onbackground-variant-color);
    }
  }
  .fieldset {
    border-bottom: solid 1px var(--onbackground-variant-color);
    width: 100%;
    grid-template-areas:
      "label field"
      "message message";
    grid-template-columns: 1fr 1fr;
    @apply grid;

    > .message {
      grid-area: message;
      @apply place-self-center;
    }
  }
  .message{
    font-size: .7rem;
    font-weight: bold;
  }

  .field {
    grid-area: field;
    @apply w-full flex items-center justify-start m-2;
  }

  .text-field{
    @apply w-max;
  }
  
  @media screen and (max-width:1024px) {
    .fieldset {
      grid-template-areas:
        "label label"
        "field field"
        "message message";
      @apply grid;
    }
    .label{
      max-width: max-content;
    }
    .text-field{
      @apply w-full;
    }
  }
}
