.breadcrumbs{
    color: var(--onbackground-color);
    background-color: var(--surface-color);
   @apply flex flex-row items-center flex-wrap p-1 m-1 w-fit rounded-md; 
   & > .separator{
       transform: rotate(90deg);
       color:var(--onbackground-color);
       max-width: 10px;
       max-height: 10px;
    }
    & > .link{
        font-size: 12px;
        transition: color .3s ease-in-out ;
        &:not(.current):hover{
           color: $purple-color;
           cursor: pointer;
       }
       &.current{
           font-weight: bold;
       }
       @apply flex flex-row items-center text-center;
   }
}