.text-field {
  @include text-field-creator(var(--onbackground-color), var(--onbackground-color), var(--onbackground-variant-color), $purple-color);
}

.search-input {
  width: 100%;
  @apply relative flex items-center;
  > .text-field {
    width: 100%;
    height: min-content;
  }
  > .search-icon {
    width: 22px;
    fill: var(--onbackground-variant-color);
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s, fill 0.3s;
    @apply absolute right-0 p-1;
    &:hover {
      fill: $blue-color;
      transform: translateY(-50%) scale(1.1);
      @apply cursor-pointer;
    }
  }
}
