.background-link {
  $color: var(--background-color);
  $onHoverColor: var(--background-color);
  $decoration: false;
  .border {
    $decoration: true;
  }
  @include link($color, $onHoverColor, $decoration);
}

.primary-link {
  $color: var(--primary-color);
  $onHoverColor: var(--primary-color);
  @include link($color, $onHoverColor, false);
  &.bordered {
    @include link($color, $onHoverColor, true);
  }
}

.onbackground-link {
  $color: var(--onbackground-color);
  $onHoverColor: var(--primary-color);
  @include link($color, $onHoverColor, false);
  &.bordered {
    @include link($color, $onHoverColor, true);
  }
}
.onprimary-link {
  $color: var(--onprimary-color);
  $onHoverColor: var(--background-color);
  @include link($color, $onHoverColor, false);
  &.bordered {
    @include link($color, $onHoverColor, true);
  }
}

.custom-link {
  $color: inherit;
  $onHoverColor: inherit;
  @include link($color, $onHoverColor, false);
  &.bordered {
    @include link($color, $onHoverColor, true);
  }
}

.red-link {
  $color: var(--error-color);
  $onHoverColor: var(--error-color);
  $decoration: false;
  @include link($color, $onHoverColor, false);
  &.bordered {
    @include link($color, $onHoverColor, true);
  }
}
