// static colors
$red-black:#000;
$red-white:#fff;
$red-color:#f54343;
$yellow-color:#FFD100;
$orange-color:#ff9100;
$green-color:#99D438;
$blue-color:#0077ff;
$purple-color:#6666CC;
// light theme variables
$background-color-light:rgb(255, 255, 255);
$onbackground-color-light:#000;
$onbackground-variant-color-light:rgb(80, 80, 80);
$surface-color-light:rgb(228, 228, 228);
$onsurface-color-light:rgb(0, 0, 0);
$primary-gradient-color-light: linear-gradient(232.79deg, #A8005B 0%, #A80A00 99.99%);
$primary-color-light:#A8005B;
$onprimary-color-light:#fff;
$error-color-light:rgb(170, 1, 1);
$onerror-color-light:#fff;
$successful-color-light:rgb(0, 148, 12);
$onsuccessful-color-light:#fff;
$header-color-light:rgba(238, 238, 238,.25);
$disabled-color-light:rgb(70, 70, 70);
$ondisabled-color-light:rgb(255, 255, 255);

// dark theme variables
$background-color-dark:rgb(21, 21, 21);
$onbackground-color-dark:rgb(255, 255, 255);
$onbackground-variant-color-dark:rgb(151, 151, 151);
$surface-color-dark:rgb(15, 15, 15);
$onsurface-color-dark:rgb(255, 255, 255);
$primary-color-dark: #A8005B;
$primary-gradient-color-dark:linear-gradient(232.79deg, #A8005B 0%, #A80A00 99.99%);
$onprimary-color-dark:#fff;
$error-color-dark:rgb(143, 3, 3);
$onerror-color-dark:#fff;
$successful-color-dark:rgb(23, 155, 0);
$onsuccessful-color-dark:#fff;
$header-color-dark:rgba(15, 15, 15,.25);
$disabled-color-dark:rgb(82, 82, 82);
$ondisabled-color-dark:rgb(255, 255, 255);


//navbar variables
$header-height:38px;
