body[data-theme='dark']{
    --background-color:#{$background-color-dark};
    --onbackground-color:#{$onbackground-color-dark};
    --onbackground-variant-color:#{$onbackground-variant-color-dark};
    --surface-color:#{$surface-color-dark};
    --onsurface-color:#{$onsurface-color-dark};
    --disabled-color:#{$disabled-color-dark};
    --ondisabled-color:#{$ondisabled-color-dark};
}
