body[data-theme='light']{
    --background-color:#{$background-color-light};
    --onbackground-color:#{$onbackground-color-light};
    --onbackground-variant-color:#{$onbackground-variant-color-light};
    --surface-color:#{$surface-color-light};
    --onsurface-color:#{$onsurface-color-light};
    --disabled-color:#{$disabled-color-light};
    --ondisabled-color:#{$ondisabled-color-light};

}
